#comment {
    margin-top: 1.5rem;
    img {
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    }
    .comment_content {
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.5rem;
    }
    .comment_content p:nth-child(1) {
    font-weight: bold;
    }
}